In [2]:
import pandas as pd
data = pd.read_csv("Saldo externo em bens e serviços (USD).csv")
print(data.columns)

data.head()

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       'Unnamed: 67'],
      dtype='object')

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,External balance on goods and services (curren...,NE.RSB.GNFS.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.766905e+08,-3.787709e+06,4.180391e+07,3.998771e+07,-2.319497e+07,3.822235e+07,-3.466853e+08,2.067939e+07,NaN,NaN
1,Africa Eastern and Southern,AFE,External balance on goods and services (curren...,NE.RSB.GNFS.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,External balance on goods and services (curren...,NE.RSB.GNFS.CD,-1.555555e+07,-1.999999e+07,-2.444443e+07,-5.777780e+07,-7.333331e+07,-1.022222e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,External balance on goods and services (curren...,NE.RSB.GNFS.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,External balance on goods and services (curren...,NE.RSB.GNFS.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.380286e+10,-2.947419e+09,1.434814e+09,3.966884e+09,1.189809e+10,1.646228e+10,1.040033e+10,1.892602e+10,NaN,NaN

In [3]:
# Seleciona as colunas desejadas
columns_to_select = ['Country Name'] + [str(year) for year in range(1960, 2023)]
subset = data[columns_to_select]

# Encontra o último valor não nulo em cada linha
subset['Last_Value'] = subset.apply(lambda row: row.iloc[1:].last_valid_index(), axis=1)

# Cria um novo DataFrame com 'Country Name' e 'Last_Value'
new_df = subset[['Country Name', 'Last_Value']]
for index, row in new_df.iterrows():
    country_name = row['Country Name']
    last_value = row['Last_Value']
    print(f"{country_name}: {last_value}")

Aruba: 2021
Africa Eastern and Southern: None
Afghanistan: 1978
Africa Western and Central: None
Angola: 2021
Albania: 2022
Andorra: None
Arab World: None
United Arab Emirates: 2020
Argentina: 2022
Armenia: 2022
American Samoa: 2021
Antigua and Barbuda: 2020
Australia: 2022
Austria: 2022
Azerbaijan: 2022
Burundi: 2022
Belgium: 2022
Benin: 2022
Burkina Faso: 2019
Bangladesh: 2022
Bulgaria: 2022
Bahrain: 2021
Bahamas, The: 2022
Bosnia and Herzegovina: 2022
Belarus: 2022
Belize: 2022
Bermuda: 2022
Bolivia: 2021
Brazil: 2022
Barbados: 2021
Brunei Darussalam: 2022
Bhutan: 2021
Botswana: 2022
Central African Republic: 2022
Canada: 2022
Central Europe and the Baltics: None
Switzerland: 2022
Channel Islands: None
Chile: 2022
China: 2022
Cote d'Ivoire: 2022
Cameroon: 2022
Congo, Dem. Rep.: 2022
Congo, Rep.: 2022
Colombia: 2022
Comoros: 2022
Cabo Verde: 2022
Costa Rica: 2022
Caribbean small states: None
Cuba: 2020
Curacao: 2017
Cayman Islands: 2020
Cyprus: 2022
Czechia: 2022
Germany: 2022
Djibouti: 2020
Dominica: 2018
Denmark: 2022
Dominican Republic: 2022
Algeria: 2022
East Asia & Pacific (excluding high income): None
Early-demographic dividend: None
East Asia & Pacific: None
Europe & Central Asia (excluding high income): None
Europe & Central Asia: None
Ecuador: 2022
Egypt, Arab Rep.: 2022
Euro area: None
Eritrea: 2011
Spain: 2022
Estonia: 2022
Ethiopia: 2022
European Union: None
Fragile and conflict affected situations: None
Finland: 2022
Fiji: 2022
France: 2022
Faroe Islands: 2021
Micronesia, Fed. Sts.: 2022
Gabon: 2022
United Kingdom: 2022
Georgia: 2022
Ghana: 2022
Gibraltar: None
Guinea: 2022
Gambia, The: 2022
Guinea-Bissau: 2020
Equatorial Guinea: 2022
Greece: 2022
Grenada: None
Greenland: 2021
Guatemala: 2022
Guam: 2021
Guyana: 2005
High income: None
Hong Kong SAR, China: 2022
Honduras: 2022
Heavily indebted poor countries (HIPC): None
Croatia: 2022
Haiti: 2022
Hungary: 2022
IBRD only: None
IDA & IBRD total: None
IDA total: None
IDA blend: None
Indonesia: 2022
IDA only: None
Isle of Man: None
India: 2022
Not classified: None
Ireland: 2022
Iran, Islamic Rep.: 2022
Iraq: 2021
Iceland: 2022
Israel: 2022
Italy: 2022
Jamaica: 2022
Jordan: 2019
Japan: 2021
Kazakhstan: 2021
Kenya: 2022
Kyrgyz Republic: 2021
Cambodia: 2022
Kiribati: 2021
St. Kitts and Nevis: None
Korea, Rep.: 2022
Kuwait: 2019
Latin America & Caribbean (excluding high income): None
Lao PDR: 2016
Lebanon: 2021
Liberia: None
Libya: 2019
St. Lucia: None
Latin America & Caribbean: None
Least developed countries: UN classification: None
Low income: None
Liechtenstein: None
Sri Lanka: 2022
Lower middle income: None
Low & middle income: None
Lesotho: 2021
Late-demographic dividend: None
Lithuania: 2022
Luxembourg: 2022
Latvia: 2022
Macao SAR, China: 2022
St. Martin (French part): None
Morocco: 2022
Monaco: None
Moldova: 2022
Madagascar: 2022
Maldives: 2021
Middle East & North Africa: None
Mexico: 2022
Marshall Islands: 2021
Middle income: None
North Macedonia: 2022
Mali: 2022
Malta: 2022
Myanmar: 2022
Middle East & North Africa (excluding high income): None
Montenegro: 2022
Mongolia: 2022
Northern Mariana Islands: 2020
Mozambique: 2021
Mauritania: 2022
Mauritius: 2022
Malawi: None
Malaysia: 2022
North America: None
Namibia: 2022
New Caledonia: 2017
Niger: 2022
Nigeria: 2021
Nicaragua: 2022
Netherlands: 2022
Norway: 2022
Nepal: 2022
Nauru: 2022
New Zealand: 2021
OECD members: None
Oman: 2021
Other small states: None
Pakistan: 2022
Panama: 2017
Peru: 2022
Philippines: 2022
Palau: None
Papua New Guinea: 2004
Poland: 2022
Pre-demographic dividend: None
Puerto Rico: 2022
Korea, Dem. People's Rep.: None
Portugal: 2022
Paraguay: 2022
West Bank and Gaza: 2022
Pacific island small states: None
Post-demographic dividend: None
French Polynesia: 2020
Qatar: 2021
Romania: 2022
Russian Federation: 2022
Rwanda: 2022
South Asia: None
Saudi Arabia: 2022
Sudan: 2022
Senegal: 2022
Singapore: 2022
Solomon Islands: 2022
Sierra Leone: 2021
El Salvador: 2022
San Marino: 2021
Somalia: 2022
Serbia: 2022
Sub-Saharan Africa (excluding high income): None
South Sudan: 2015
Sub-Saharan Africa: None
Small states: None
Sao Tome and Principe: None
Suriname: 2010
Slovak Republic: 2022
Slovenia: 2022
Sweden: 2022
Eswatini: 2021
Sint Maarten (Dutch part): 2018
Seychelles: 2022
Syrian Arab Republic: 2020
Turks and Caicos Islands: None
Chad: 2022
East Asia & Pacific (IDA & IBRD countries): None
Europe & Central Asia (IDA & IBRD countries): None
Togo: 2022
Thailand: 2022
Tajikistan: 2021
Turkmenistan: 2020
Latin America & the Caribbean (IDA & IBRD countries): None
Timor-Leste: 2021
Middle East & North Africa (IDA & IBRD countries): None
Tonga: 2021
South Asia (IDA & IBRD): None
Sub-Saharan Africa (IDA & IBRD countries): None
Trinidad and Tobago: None
Tunisia: 2022
Turkiye: 2022
Tuvalu: None
Tanzania: 2022
Uganda: 2022
Ukraine: 2022
Upper middle income: None
Uruguay: 2022
United States: 2021
Uzbekistan: 2022
St. Vincent and the Grenadines: None
Venezuela, RB: 2014
British Virgin Islands: None
Virgin Islands (U.S.): 2020
Viet Nam: 2021
Vanuatu: 2022
World: None
Samoa: 2022
Kosovo: 2022
Yemen, Rep.: 2018
South Africa: 2022
Zambia: 2022
Zimbabwe: 2021

C:\Users\Pedro\AppData\Local\Temp\ipykernel_22004\2905564702.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset['Last_Value'] = subset.apply(lambda row: row.iloc[1:].last_valid_index(), axis=1)

In [4]:
colunas_excluir = ['Country Code', 'Indicator Name', 'Indicator Code']
data = data.drop(colunas_excluir, axis=1)


data.columns = data.columns.str.strip()
columns_to_exclude = [str(year) for year in range(1960, 2010)] + ['Unnamed: 67']

data = data.drop(columns=columns_to_exclude)

data.head()

,Country Name,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,-3.687335e+08,-3.939844e+08,-2.729782e+08,-2.399050e+08,-1.766905e+08,-3.787709e+06,4.180391e+07,3.998771e+07,-2.319497e+07,3.822235e+07,-3.466853e+08,2.067939e+07,NaN
1,Africa Eastern and Southern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,1.549234e+10,2.337279e+10,2.509985e+10,1.958634e+10,1.380286e+10,-2.947419e+09,1.434814e+09,3.966884e+09,1.189809e+10,1.646228e+10,1.040033e+10,1.892602e+10,NaN

In [5]:
# Defina a coluna "Country Name" como índice temporariamente
data.set_index('Country Name', inplace=True)

# Calcule a média das linhas (axis=1) excluindo a coluna do índice
data['Saldo externo em bens e serviços (USD)'] = data.mean(axis=1)

# Redefina o índice para o padrão (para que o "Country Name" não seja o índice)
data.reset_index(inplace=True)
data.head()

,Country Name,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,Saldo externo em bens e serviços (USD)
0,Aruba,-3.687335e+08,-3.939844e+08,-2.729782e+08,-2.399050e+08,-1.766905e+08,-3.787709e+06,4.180391e+07,3.998771e+07,-2.319497e+07,3.822235e+07,-3.466853e+08,2.067939e+07,NaN,-1.404389e+08
1,Africa Eastern and Southern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,1.549234e+10,2.337279e+10,2.509985e+10,1.958634e+10,1.380286e+10,-2.947419e+09,1.434814e+09,3.966884e+09,1.189809e+10,1.646228e+10,1.040033e+10,1.892602e+10,NaN,1.312460e+10

In [6]:
# Configure o Pandas para mostrar mais linhas
pd.set_option('display.max_rows', None)
print(data['Saldo externo em bens e serviços (USD)'])

0     -1.404389e+08
1               NaN
2               NaN
3               NaN
4      1.312460e+10
5     -2.243266e+09
6               NaN
7               NaN
8      1.041033e+11
9      3.439165e+09
10    -1.654177e+09
11    -2.361667e+08
12     5.915809e+07
13     1.464673e+10
14     1.223042e+10
15     1.089043e+10
16    -4.796598e+08
17     2.830840e+09
18    -7.168945e+08
19    -8.209448e+08
20    -1.623365e+10
21     6.788199e+08
22     4.587810e+09
23    -7.450231e+08
24    -3.373996e+09
25     1.858428e+08
26     2.291214e+07
27     1.799911e+09
28    -6.012930e+08
29    -1.256375e+10
30    -3.525833e+08
31     3.356406e+09
32    -4.728592e+08
33    -6.296700e+08
34    -3.465300e+08
35    -2.572110e+10
36              NaN
37     7.053206e+10
38              NaN
39     4.484963e+08
40     2.721925e+11
41     4.368954e+08
42    -1.045211e+09
43    -1.602818e+09
44     1.350215e+09
45    -1.498385e+10
46    -2.166431e+08
47    -3.662830e+08
48     2.874629e+07
49              NaN
50     2.522906e+09
51    -5.657861e+08
52     1.308665e+09
53    -8.190907e+07
54     1.134451e+10
55     2.164984e+11
56     1.176074e+08
57    -9.939465e+07
58     2.431203e+10
59    -5.431640e+09
60    -2.240926e+09
61              NaN
62              NaN
63              NaN
64              NaN
65              NaN
66    -7.783714e+08
67    -2.515591e+10
68              NaN
69    -3.108657e+08
70     2.958023e+10
71     7.082235e+08
72    -1.073055e+10
73              NaN
74              NaN
75    -1.798317e+09
76    -4.417216e+08
77    -4.008826e+10
78    -1.073772e+07
79    -1.623271e+08
80     4.787741e+09
81    -4.400390e+10
82    -2.438640e+09
83    -2.443132e+09
84              NaN
85    -2.251171e+09
86    -2.855420e+08
87    -1.103842e+08
88     3.092326e+09
89    -9.798837e+09
90              NaN
91    -4.634131e+08
92    -7.502626e+09
93    -2.247667e+09
94              NaN
95              NaN
96     7.124418e+09
97    -4.224621e+09
98              NaN
99    -9.615979e+08
100   -3.319745e+09
101    5.857259e+09
102             NaN
103             NaN
104             NaN
105             NaN
106    9.203693e+09
107             NaN
108             NaN
109   -7.888585e+10
110             NaN
111    7.826254e+10
112    7.869728e+09
113    1.776040e+10
114    8.084792e+08
115    7.995001e+09
116    3.392950e+10
117   -2.594921e+09
118   -7.949014e+09
119   -2.666213e+10
120    1.954082e+10
121   -7.916848e+09
122   -2.596383e+09
123   -7.769760e+08
124   -1.479745e+08
125             NaN
126    5.694874e+10
127    3.786084e+10
128             NaN
129   -1.879069e+09
130   -1.180770e+10
131             NaN
132    7.803801e+09
133             NaN
134             NaN
135             NaN
136             NaN
137             NaN
138   -5.557644e+09
139             NaN
140             NaN
141   -1.254393e+09
142             NaN
143    8.996860e+08
144    2.208051e+10
145   -7.928441e+08
146    1.829927e+10
147             NaN
148   -1.212795e+10
149             NaN
150   -2.811948e+09
151   -9.367056e+08
152   -1.466121e+08
153             NaN
154   -1.611117e+10
155   -1.012863e+08
156             NaN
157   -1.880820e+09
158   -1.752556e+09
159    1.556942e+09
160   -9.423298e+08
161             NaN
162   -1.111554e+09
163   -9.275022e+08
164   -1.310000e+08
165   -5.440893e+09
166   -1.051814e+09
167   -9.310117e+08
168             NaN
169    2.862364e+10
170             NaN
171   -2.064023e+09
172   -2.316344e+09
173   -1.735223e+09
174    1.398172e+10
175   -1.793611e+09
176    8.598636e+10
177    4.789246e+10
178   -7.968325e+09
179   -2.932909e+07
180    5.476500e+08
181             NaN
182    1.076394e+10
183             NaN
184   -2.378616e+10
185   -2.746458e+09
186    2.386545e+09
187   -2.525773e+10
188             NaN
189             NaN
190    9.214536e+09
191             NaN
192    1.818188e+10
193             NaN
194   -2.844769e+09
195    7.962013e+08
196   -5.689169e+09
197             NaN
198             NaN
199   -1.154546e+09
200    4.663709e+10
201   -8.341328e+09
202    1.364641e+11
203   -1.417381e+09
204             NaN
205    8.845677e+10
206   -2.851789e+09
207   -3.564950e+09
208    9.732943e+10
209   -1.348724e+08
210   -9.689720e+08
211   -4.740789e+09
212    3.883541e+08
213   -3.914886e+09
214   -4.495638e+09
215             NaN
216    1.498910e+09
217             NaN
218             NaN
219             NaN
220    6.173926e+08
221    1.581803e+09
222    3.010242e+09
223    2.117977e+10
224   -1.348817e+08
225   -3.224860e+07
226   -1.680713e+08
227   -4.663595e+09
228             NaN
229   -5.318093e+08
230             NaN
231             NaN
232   -7.020919e+08
233    2.498218e+10
234   -2.597367e+09
235   -1.490613e+08
236             NaN
237   -7.538930e+08
238             NaN
239   -2.009590e+08
240             NaN
241             NaN
242             NaN
243   -4.464707e+09
244   -2.549449e+10
245             NaN
246   -2.553855e+09
247   -2.848137e+09
248   -9.394408e+09
249             NaN
250    1.475136e+09
251   -5.736023e+11
252   -5.808485e+09
253             NaN
254   -1.152152e+09
255             NaN
256   -6.664545e+08
257    6.383462e+09
258   -1.298121e+08
259             NaN
260   -1.846586e+08
261   -2.219014e+09
262   -5.989440e+09
263    3.279246e+09
264    8.626047e+08
265   -2.125657e+09
Name: Saldo externo em bens e serviços (USD), dtype: float64

In [7]:
data.columns = data.columns.str.strip()
columns_to_exclude = [str(year) for year in range(2010, 2023)]
data = data.drop(columns=columns_to_exclude)
data.head()

                  Country Name  Saldo externo em bens e serviços (USD)
0                        Aruba                           -1.404389e+08
1  Africa Eastern and Southern                                     NaN
2                  Afghanistan                                     NaN
3   Africa Western and Central                                     NaN
4                       Angola                            1.312460e+10

In [8]:
data.dropna(subset=['Saldo externo em bens e serviços (USD)'], inplace=True)

In [9]:
#data.to_csv('Saldo externo em bens e serviços (USD)_novo.csv', index=False)